{% include 'base.html' with detail=False %}
    <div class="form-group">
    <form method="POST" action=".">{% csrf_token %}

<!--             <label for="{{ form.content.id_for_label }}"></label> -->
    {{ form.content }}
<!--             <textarea class="form-control form-control-lg" placeholder="Write my own confession post!" id="exampleFormControlTextarea1" rows="3"></textarea> -->
    <button type="submit" class="btn btn-info">Submit</button>
    </form>
    </div>

<!-- <form method="POST" action="."> {% csrf_token %}

	{{ form.as_p }}
	<button type='submit'>Send</button> 

</form> -->

<!-- <div class="fieldWrapper">
    {{ form.subject.errors }}
    <label for="{{ form.subject.id_for_label }}">Email subject:</label>
    {{ form.subject }}
</div> -->

{% block content %}
<div class='row'>
	{% for object in object_list %}
		<tr class="{% cycle False True as color%}">
		{%if color%}
		{% include 'post/list-inline.html' with post=object truncate=True detail=False color=True %}
		{% else %}
		{% include 'post/list-inline.html' with post=object truncate=True detail=False color=False %}
		{% endif%}
		</tr>
	{% endfor %}

</div>
{% endblock %}